* {
    font-family: "Open Sans", serif;
    margin: 0;
}
body{
    background-color: #FFF8F3;    
}
/* primary css should be here */
.btn-primary {
    padding: 10px 25px;
    background-color: #FD6E0A;
    color: #fff;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    border: none;
    cursor: pointer;
}

/* header section css */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* navbar css starts from here */
.nav-section {
    display: flex;
    justify-content: space-between;
    padding: 30px 225px;
    align-items: center;
}

.name-logo {
    color: #181818;
    font-size: 40px;
}

.name-color {
    color: #FD6E0A;
}

.menu {
    display: flex;
    align-items: center;
}

.menu>li {
    list-style-type: none;
    padding: 0 20px;
}

.menu>li a {
    text-decoration: none;
    color: #474747;
    ;
}

/* bio section starts from here */
.bio-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bio-section{
    padding-left: 50px;
    width: 600px;
    align-items: center;
    justify-content: center;
}
.greet-msg{
    color: #474747;
    font-size: x-large;
    margin-bottom: 20px;
}
.bio-name{
    font-size: 45px;
    margin-bottom: 20px;
}
.short-bio{
    margin-bottom: 20px;
}
.profile-pic {
    width: 526px;
    height: 589px;
}