/* universal styles here */
* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

/* prymary btn styling here */
.primary-btn {
    width: 150px;
    height: 25px;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color: #fff;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 700;
    transition: 0.3s;
}

.primary-btn:hover {
    background-color: rgb(232, 99, 4);
}

/* primary btn styles ends here */
/* header styles starts from here */
/* mary logo styling starts */
.logo {
    width: 121px;
    height: 61px;
    font-size: 45px;
    font-weight: 800;
}

.logo-special {
    color: rgb(253, 110, 10);
}

/* menu bar styling */
.header-section {
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 100vh;
    background-color: rgb(255, 248, 243);

}

.heading {
    padding: 30px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar .menu {
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
}

.nav-bar .menu .nav-links {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.nav-bar .menu .nav-links:hover {
    color: #e86304;
}

/* menu bar styling ends */
/* bio section starts from here */
.bio-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    padding: 0 20px;
}

.right-section img {
    margin-top: 219px;
    margin-bottom: -5px;
    width: 100%;
}

.mid-section .greeting {
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
}

.mid-section .name-mary {
    font-size: 85px;
    font-weight: 700;
}

.mid-section .short-bio {
    font-size: 18px;
    font-weight: 400;
}

/* main section's css strats here */
.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-me {
    text-align: center;
    border-radius: 10px;
    background: rgb(255, 248, 243);
    padding: 130px;
    display: flex;
    flex-direction: column;
}

.about-container {
    height: 550px;
    width: 1300px;
    display: flex;
    margin: 130px;
}

.primary-heading {
    margin-bottom: 30px;
    font-size: 35px;
}

.primary-about {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-data {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.skills-container {
    width: 1300px;
    margin: 130px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-sub-container {
    display: flex;
    margin-top: 50px;
    gap: 50px;
}

.primary-skills {
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 267px;
    height: 377px;
    text-align: justify;
}

.skills-heading {
    margin: 30px 0px;
}

.skill-description {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.sub-data a {
    text-decoration: none;
    color: black;
}

/* css for summary container */
.summary-container {
    width: 1300px;
    margin: 130px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sub-summary-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 30px 0;
}

.resume-des hr {
    width: 650px;
    margin: 20px 0;
}

.sub-heading {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sub-heading-des {
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
}

.from-institution {
    margin: 10px 0;
    display: inline-block;
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}
/* footer css starts from here */
.footer-container{
    height: 780px;
    background: rgb(255, 248, 243);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-about{

    height: 56px;
    color: rgb(117, 117, 117);
}
.social{
    margin-top: 20px;
}
.social .social-link{
    text-decoration: none;
    color:rgb(253, 110, 10);
    font-size: 20px;
    margin-right: 10px;
}
.message-me{
    display: flex;
    flex-direction: column;
}
.input-css-same{
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    outline: none;
    padding: 10px;
    border: none;
    width: 461px;
    height: 54px;
    margin-bottom: 30px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}
.input-css-same::placeholder{
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.message-me textarea{
    resize: none;
    height: 180px;
}
.message-btn{
    height: 60px;
    border: none;
    cursor: pointer;
}
/* css ends here */
/* responsive design  */
@media screen and (max-width:576px) {
    .footer-container{
        flex-direction: column;
        font-size: 1rem;
        width: 500px;
    }
    .input-css-same{
        width: 100%;
    }
    .about-container{
        width: 500px;
        margin: 0;
    }
    .about-me{
        padding: 0;
    }
    .data{
        flex-direction: column;
    }
    .summary-container{
        width: 500px;
    }
    .sub-summary-container{
        flex-direction: column;
    }
    .resume-des hr{
        width: 100%;
    }
    .skills-container{
        width: 500px;
    }
    .skill-sub-container{
        flex-direction: column;
    }
    .header-section{
        width: 500px;
    }
    .heading{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        margin-top: 10px;
    }
    .bio-section{
        flex-direction: column;
    }
    .left-section img{
        display: none;
    }
    .mid-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-btn{
        margin-top: 10px;
    }
}
